.container{
    width: 90%;
    margin: 0 auto 0 auto;
    
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff7f3;
    background-repeat: no-repeat;
}

h1 h2 h3 h4 h5 h6{
    font-weight: bold;
}

h1{
    font-size: 40px;
    color: black;
}

h2{
    font-size: 35px;
    text-align: center;
}

h3{
    margin: 0;
    font-size: 30px;
    text-align: center;
}

h4{
    margin: 0;
    text-align: center;
}

a{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #553120;
}

ul{
    padding: 0;
    list-style-type: none;
}

.arrow{
    margin-bottom: -12px;
    width: 40px;
}

/*button styling*/
.button{
    display: inline-block;
    text-align: center;
    padding: 20px 40px;
    margin: 10px;
    border-radius: 100px;
    border-style: solid;
    border-width: 0.02px;
    border-color: #543d32;
    color: white;
    background-color: coral;
}

.button-primary{
    color: coral;
    background-color: #fef2f2
}

.button-secondary{
    box-shadow: 1px 2px 10px gray;
}
/*Header*/
.header-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a-black{
    color: black;
}
/*Hero Banner*/
.hero-banner{
    display: flex;
    align-items: center;
    height: 400px;
    text-align: center;
    background-image: url(./img/hero\ image.jpg);
}

.hero-banner-text{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
/*Secondhands*/
.Secondhand{
    text-align: center;
}

.Secondhand-img img{
    height: 330px;
    width: 320px;
    box-shadow: 1px 2px 10px gray;
}
/*Månedens bog og Bestil*/
.månedens-bog{
    text-align: center;
    background-color: #fefdf9;
}

.bestil{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    background-color: #fef2f2;
}

.bestil img{
    box-shadow: 1px 2px 10px gray;
}

.bestil h2{
    color: #553120;
}

.bestil ul{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.bestil li{
    color: black;
    margin: 15px;
}

.forfatter-type{
    color: #707070;
}

.forfatter-type-p{
    font-weight: bold;
}

.bestil img{
    height: 330px;
    width: 320px;
}
/*Tilmeld*/
.tilmeld{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 330px;
    background-image: url(./img/Cover-Bogklub.jpg);
}
/*Footer*/
.footer-text{
    text-align: center;
}

.footer-text p{
    color: #553120;
}

.icon{
    width: 50px;
    fill: coral;
}

footer img{
    width: 100%;
}

@media only screen and (min-width: 768px){
    /*header*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-menu{
        height: 150px;
        width: 550px;
        flex-direction: row;
        justify-content: space-between;
    }

    /*Hero Banner*/
    .hero-banner {
        display: flex;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        
    }

    .hero-banner-text{
        padding: 270px;
        font-size: 28px;
    }

    .hero-banner-text-p{
        padding: 10px 50px;
    }

    /*Secondhand*/
    .Secondhand{
        margin-top: 80px;
    }

    .Secondhand-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Secondhand-img img{
        height: 500px;
        width: 315px;
        margin-left: 5px;
    }
    
    .anbefaling{
        display: flex;
        margin: 80px 0;
    }
    
    .månedens-bog{
        flex-direction: column;
        align-items: center;
        text-align: start;
        justify-content: space-between;
        width: 350px;
        padding: 40px 90px;
    }

    .månedens-bog a{
        color: #553120;
    }

    .bestil{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: start;
        padding: 40px;
    }

    .padding{
        padding-left: 30px;
    }

    .bestil h2{
        text-align: start;
    }

    .bestil img{
        flex-direction: row;
        height: 100%;
    }

    /*Tilmeld*/
    .tilmeld{
        height: 500px;
        background-size: cover;
    }

    /*Footer*/
    h4{
        text-align: start;
    }

    footer{
        display: flex;
        margin-top: 120px;
    }

    .footer-box{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        background-color: #ffffff;
    }

    .footer-text{
        text-align: start;
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
    }

    .icons{
        margin-top: 95px;
    }

    footer img{
        width: 40%;
    }

    /*Ekstra opgaver*/
    .ny-side{
        display: flex;
    }

    .ny-side img{
        height: 100%;
    }

    .ny-side2{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: start;
        background-color: white;
    }

    .size{
        padding-right: 80px;
    }

}
